<a href="https://colab.research.google.com/github/DenilsonPaco98/Pandas_lesson/blob/main/Pandas_lesson4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<h1>Pandas lesson : 4

In [ ]:
#import
import pandas as pd

In [ ]:
titanic = pd.read_csv("titanic.csv")
titanic.head()

   PassengerId  Survived  Pclass  ...     Fare Cabin  Embarked
0            1         0       3  ...   7.2500   NaN         S
1            2         1       1  ...  71.2833   C85         C
2            3         1       3  ...   7.9250   NaN         S
3            4         1       1  ...  53.1000  C123         S
4            5         0       3  ...   8.0500   NaN         S

[5 rows x 12 columns]

<h1>Como calculcar estat√≠sticas resumidas ?

![image.png]()

In [ ]:
#Qual √© a idade m√©dia dos meus passageiros ?
titanic["Age"].mean()

29.69911764705882

In [ ]:
#Idade m√©dia e pre√ßo dos passageiros 
titanic[["Age","Fare"]].median()

Age     28.0000
Fare    14.4542
dtype: float64

In [ ]:
#estatistica de agraga√ß√£o 
titanic[["Age","Fare"]].describe()

              Age        Fare
count  714.000000  891.000000
mean    29.699118   32.204208
std     14.526497   49.693429
min      0.420000    0.000000
25%     20.125000    7.910400
50%     28.000000   14.454200
75%     38.000000   31.000000
max     80.000000  512.329200

In [ ]:
#podemos escolher nossa propia estatistica de defeini√ß√£o
titanic.agg(
    {
        "Age":["min","max","median","skew"],
        "Fare":["min","max","median","mean"],
     
    }
)

              Age        Fare
max     80.000000  512.329200
mean          NaN   32.204208
median  28.000000   14.454200
min      0.420000    0.000000
skew     0.389108         NaN

<h1>Estat√≠sticas agregadas agrupadas por categoria

![image.png]()

In [ ]:
#Qual √© idade m√©dia dos passageiros do Titanic do sexo masculino em rela√ß√£o feminino
titanic[["Sex","Age"]].groupby("Sex").mean()

              Age
Sex
female  27.915709
male    30.726645

In [ ]:
#Adicionamos todas as colunas e colocamos agrupamos no genero para cacular a m√©dia 
titanic.groupby("Sex").mean()

        PassengerId  Survived    Pclass  ...     SibSp     Parch       Fare
Sex                                      ...
female   431.028662  0.742038  2.159236  ...  0.694268  0.649682  44.479818
male     454.147314  0.188908  2.389948  ...  0.429809  0.235702  25.523893

[2 rows x 7 columns]

In [ ]:
display(titanic)

     PassengerId  Survived  Pclass  ...     Fare Cabin  Embarked
0              1         0       3  ...   7.2500   NaN         S
1              2         1       1  ...  71.2833   C85         C
2              3         1       3  ...   7.9250   NaN         S
3              4         1       1  ...  53.1000  C123         S
4              5         0       3  ...   8.0500   NaN         S
..           ...       ...     ...  ...      ...   ...       ...
886          887         0       2  ...  13.0000   NaN         S
887          888         1       1  ...  30.0000   B42         S
888          889         0       3  ...  23.4500   NaN         S
889          890         1       1  ...  30.0000  C148         C
890          891         0       3  ...   7.7500   NaN         Q

[891 rows x 12 columns]

In [ ]:
#Qual √© o pre√ßo m√©dio da passagem para cada uma das combina√ß√µes de sexo e classe de cabine?
titanic.groupby(["Sex","Pclass"])["Fare"].mean()

Sex     Pclass
female  1         106.125798
        2          21.970121
        3          16.118810
male    1          67.226127
        2          19.741782
        3          12.661633
Name: Fare, dtype: float64

In [ ]:
#Qual √© o n√∫mero de passageiros em cada uma das classes da cabine?
titanic["Pclass"].value_counts()

3    491
1    216
2    184
Name: Pclass, dtype: int64

In [ ]:
#Qual √© o n√∫mero de passageiros em cada uma das classes da cabine?
titanic.groupby("Pclass")["Pclass"].count()

Pclass
1    216
2    184
3    491
Name: Pclass, dtype: int64